pip install keyrings.alt
pip install locale
pip install requests
pip install googlemaps
pip install pandas
pip install json
pip install xlsxwriter
pip install urllib.parse
pip install BeautifulSoup
pip install bs4
